.container {
    width: 1280px;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid black;
    margin-left: 100px;
}

.top-header {
    width: 100%;
    height: auto;
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 93.75px;
    min-width: 334px;
    width: max-content;
}

.logo span {
    color: #4BCAFF;
}

.wrapper {
    background-color: #35444F;
    display: flex;
    width: 1280px;
    min-height: 69px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.item {
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: white;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 400;
    padding: 30px;
    border-top: #35444F;
    border-bottom: #35444F;
}

.item:hover {
    background-color: #21272b;
}


aside {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 399px;
    margin-top: 48px;
    margin-left: 2px;
    float: left;
}

.aside-item {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border: 1px solid grey;
    padding: 20px 30px;
    color: #35444F;
    line-height: 30px;
    list-style-type: none;
    transform: scale(1);
}

.aside-item:hover {
transform: scale(1);
background-color:#c0c0c1;
text-align: center;
transition: 100ms;
}

.main-content {
    display: block;
    max-width: 885px;
    width: auto;
    height: max-content;
    margin: 48px 1px 51px 387px;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #35444F;
}

.top-image-ramda {
width: 200px;
height: 300px;
transform: scale(1);
}

.top-image-ramda:hover {
    transition: 150ms;
    transform: scale(1.1);
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2C2C2C;
}

.text-1 {
    margin-top: 37px;
    margin-bottom: 13px;
}

.footer {
    width: 1280px;;
    height: 69px;
    background-color: #63696E;
}

.footer-nav {
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation p {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    color: #0C1927;
    padding: 20px;
}

.navigation p:hover {
    color: #3181A6;
    text-decoration: underline;
}

